#main{
    text-align: center;
    width:300px;
    margin:100px auto;
}

body{
    font-family:Arial, sans-serif;
}
#buttonsdiv{
    text-align: left;
    font-size: 1.2em;
    size: 2em;
}

#submit{
    background-color: rgb(255, 188, 87);
    font-weight:bold;
    border-radius:5px 5px;
    padding: 5px;
    font-size: 1.1em;
    border:none;
    cursor:pointer;
    box-shadow: 2px 2px 3px;
    transition-duration: padding 1s;
}

#submit:hover{
    background-color: rgba(255, 188, 87, 0.463);
    padding:4px 4px;
}

p{
    font-size:1.1em;
}